# ignore data contents by default
data/*

# but keep roi folder and its contents
!data/roi/
!data/roi/**
!data/config/
!data/config/**
data/roi/roi.json

# keep placeholders for images and logs
!data/images/.gitkeep
!data/logs/.gitkeep
data/images/*
data/logs/*
!data/images/.gitkeep
!data/logs/.gitkeep

# python cache & compiled
__pycache__/
*.pyc
*.pyo

# virtualenv and environment
venv/
.env

# editor / OS
.vscode/
.idea/
.DS_Store

# temp
temp_clean_repo/
clean_repo/

# local email credentials (keep only example in Git)
data/config/email_config.json
!data/config/email_config.example.json
